.products {

    margin: 30px auto;

    h3 {
        color: $color-orange-2;
        margin-bottom: 30px;
    }

    .products__contents {
        .slick-slider {

            .slick-prev,
            .slick-next {
                background-color: transparent;
                margin: -20px -30px;

                &::before {
                    color: black;
                    font-size: 40px;
                }
            }

        }

        .products__film {
            padding: 0 10px;
            margin-bottom: 25px;



            .filmThumbnail {
                margin-bottom: 10px;
                position: relative;
                border-radius: 4px;
                padding-top: 147.90697674%;
                background-position: center, 0 0;
                background-size: 100% auto;
                background-repeat: no-repeat, repeat-y;

                .hoverInfo {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: 0 0;
                    background: -webkit-linear-gradient(to top, #000, transparent 100%);
                    background: -o-linear-gradient(to top, #000, transparent 100%);
                    background: -moz-linear-gradient(to top, #000, transparent 100%);
                    background: linear-gradient(to top, #000, transparent 100%);
                    top: 0;
                    border-radius: 4px;
                }

                .showHover {
                    visibility: hidden;
                    opacity: 0;
                    transition: all .2s;
                }

                // .playTrailer {
                //     width: 50px;
                //     height: 50px;
                //     position: absolute;
                //     top: 50%;
                //     left: 50%;
                //     transform: translate(-50%, -50%);
                //     z-index: 3;
                //     background: 0 0;
                //     border: none;
                //     outline: none;

                //     img {
                //         border-radius: 4px;
                //         width: 100%;
                //         vertical-align: middle;
                //         border: 0;
                //     }

                //     &:hover {
                //         opacity: .7;
                //     }
                // }


            }

            .products__info {
                position: relative;

                .hideHover {
                    visibility: visible;
                    opacity: 1;
                    transition: all .2s;
                }

                .nameFilm {
                    height: 20px;
                    max-height: 42px;
                    font-family: 'SF Medium';
                    font-size: 16px;
                    color: #000;
                    line-height: 22px;
                    margin-bottom: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;

                    font-weight: bold;
                }

                .infoFilm {

                    font-size: 13px;
                    color: orange;
                    margin-bottom: 15px;
                    margin-top: 8px;

                    .fa {
                        margin-right: 3px;
                    }
                }

                .showHover {

                    visibility: hidden;
                    opacity: 0;
                    transition: all .2s;

                    .buyNow {
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        width: 100%;
                        border-radius: 4px;
                        color: #fff;
                        font-size: 18px !important;
                        padding: 10px;
                        text-align: center;
                        background: #fb4226;
                        background: -webkit-linear-gradient(to left, #fb4226, #ce3017 100%);
                        background: -o-linear-gradient(to left, #fb4226, #ce3017 100%);
                        background: -moz-linear-gradient(to left, #fb4226, #ce3017 100%);
                        background: linear-gradient(to left, #fb4226, #ce3017 100%);
                        text-decoration: none;
                        cursor: pointer;

                        &:hover {
                            background: #fb4226;
                        }
                    }
                }
            }

            &:hover {
                .showHover {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}