.muave {
    margin: 50px auto;

    .muave__thongtinfilm {
        height: 550px;
        color: white;
        background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(92, 10, 69, 0.73)),
            url('../../../img/backfroundTroiSao.jpg');

        .thongtinfilm_background {
            background-color: white;
            margin: 50px 90px 90px 90px;
        
        }

        .thongtinfilm_text {
            margin: 50px 50px 50px 0;

            p {
                font-size: 1.2rem;

                .fa {
                    color: yellow;
                }
            }

            a {
                cursor: pointer;
            }
        }
    }
}

.muave__lichchieu {
    display: block;
    max-width: 960px;
    height: 80px;
    position: relative;
    bottom: 0;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white-0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(116, 109, 109, 0.3);
    z-index: 2;
    margin-bottom: 50px;

    .w30p {
        width: 25%;
    }

    .smallBlock {
        width: calc(50% / 3);
    }

    .selectMenu {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        background-color: transparent;
        border: none;
        color: #000;
        cursor: pointer;
        width: 100%;
        padding: 7%;
        background-image: url(../../../img/dropdown-icon.png);
        background-repeat: no-repeat;
        background-position: calc(100% - 8px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 20px;

        &:focus {
            box-shadow: none;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0;
            height: 50%;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            border-right: 1px solid #fff;
            border-right-color: rgba(238, 238, 238, .88);
        }
    }
}