.pageNotFound {
    background: url("../../../img/tumblr_neq0yw9rMA1tm16jjo1_500.gif") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100vh;

    .error {
        position: absolute;
        top: 30%;
        margin-top: -8em;
        width: 100%;
        text-align: center;

        h1 {
            font-size: 16em;
            margin: .2em .5em;
            color: rgba(255, 255, 255, 0.7);
            margin-bottom: 0px;
        }

        h2 {
            font-size: 2em;
            margin: .2em .5em;
            color: rgba(255, 255, 255, 0.6);
        }
    }
}