// variable color
$color-black-0: #000000;
$color-white-0: #FFFFFF;
$color-gray-0: #C6C6C6;
$color-green-0: #00AC4D;
$color-orange-1: #FB4226;
$color-orange-2: #fa5238;

// variable font-size
$fs-0: 14px; //default




// break points
$breakpoints:('extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
)